/* Font Sizes */
$font-size-56: 56px;
$font-size-52: 52px;
$font-size-48: 48px;
$font-size-44: 44px;
$font-size-40: 40px;
$font-size-36: 36px;
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-12: 12px;
$font-size-8: 8px;

/* Screen Sizes */
$screen-size-very-big-1440: 1440px;
$screen-size-big-1024: 1024px;
$screen-size-medium-big-768: 768px;
$screen-size-medium-414: 414px;
$screen-size-medium-small-412: 412px;
$screen-size-small-375: 375px;
$screen-size-very-small-360: 360px;

